h1,
h2 {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    color: red;
}

h2 {
    color: rgb(161, 116, 33);
}

p {
    text-align: center;
}

.city {
    color: rgb(25, 202, 25);
}

.sun-icon {
    color: yellow;
    font-size: 50px;
    display: block;
    padding: 20px 230px;
}

.sun-icon:hover {
    color: red;
}

.temperature {
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: 400;
}

div {
    text-align: center;
    margin: 0 auto;
}